apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://helm.releases.hashicorp.com'
    targetRevision: 0.29.1 # Use a stable version, adjust as necessary
    chart: vault
    helm:
      values: |
        server:
          dataStorage:
            enabled: true
            size: 10Gi
          # Since we aren't using cloud KMS, auto-unseal is not available.
          # Manual unseal is required on every pod restart.
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: vault
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
